@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

#languagePopup {
  .tabOption {
    button {
      width: 50%;
    }
  }

  .tabContent {
    .listBox {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      a,
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: itemWidth(8, 3);
        height: 64px;
        color: $gray900;
        border-radius: $r8;
        border: 1px solid transparent;
        @include transition(0.3);

        @include screen('mobile') {
          width: itemWidth(8, 2);
        }

        &.active {
          border-color: $gray900;
        }

        &:hover {
          border-color: $gray900;
        }
      }
    }
  }
}